<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Education &mdash; Free Website Template, Free HTML5 Template by freehtml5.co</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
  <meta name="keywords"
    content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
  <meta name="author" content="freehtml5.co" />
  <meta property="og:title" content="" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="og:site_name" content="" />
  <meta property="og:description" content="" />
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style>
    body {
      font-size: 18px;
    }

    .stars-container {
      position: relative;
      display: inline-block;
      color: transparent;
    }

    .stars-container:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '★★★★★';
      color: lightgray;
    }

    .stars-container:after {
      position: absolute;
      top: 0;
      left: 0;
      content: '★★★★★';
      color: gold;
      overflow: hidden;
    }

    .stars-0:after {
      width: 0%;
    }

    .stars-10:after {
      width: 10%;
    }

    .stars-20:after {
      width: 20%;
    }

    .stars-30:after {
      width: 30%;
    }

    .stars-40:after {
      width: 40%;
    }

    .stars-50:after {
      width: 50%;
    }

    .stars-60:after {
      width: 60%;
    }

    .stars-70:after {
      width: 70%;
    }

    .stars-80:after {
      width: 80%;
    }

    .stars-90:after {
      width: 90%;
    }

    .stars-100:after {
      width: 100;
    }
  </style>

  <!-- Animate.css -->
  <link rel="stylesheet" href="/design/css/animate.css">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="/design/css/icomoon.css">
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="/design/css/bootstrap.css">
  <!-- Magnific Popup -->
  <link rel="stylesheet" href="/design/css/magnific-popup.css">
  <!-- Owl Carousel  -->
  <link rel="stylesheet" href="/design/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/design/css/owl.theme.default.min.css">
  <!-- Flexslider  -->
  <link rel="stylesheet" href="/design/css/flexslider.css">
  <!-- Pricing -->
  <link rel="stylesheet" href="/design/css/pricing.css">
  <!-- Theme style  -->
  <link rel="stylesheet" href="/design/css/style.css">
  <!-- Modernizr JS -->
  <script src="/design/js/modernizr-2.6.2.min.js"></script>
  {{{_sections.css}}}
  {{#section 'js'}}
  <script>
    $('.addItem').on('click', function () {
      const id = $(this).data('id');
      $('#txtCourseId').val(id);
      $('#frmAddItem').submit();
    });
  </script>
  {{/section}}
</head>

<body>
  <hr class="my-4">
  <div>
    <div class="container">
      <div class="container">
        <div>
          <h4 style="margin: 0 0 10px 0;"><b>{{{this.subCatName.Name}}}</b> </h4>
        </div>
        <div class="alert alert-dark" role="alert" style="margin: 0 0 0px 0;">
          <h5 style="margin: 0px 0 0px 0px;"> <i class="fa fa-bell" aria-hidden="true"></i><b>Courses to get you
              started</b></h5>
        </div>
      </div>
      <hr>
      <div class="card-body">
        {{#if this.empty}}
        <h5 class="card-title">Không có dữ liệu!</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        {{else}}
        <form action="/cart/add" method="POST" id="frmAddItem">
          <input id="txtCourseId" type="hidden" name="id">
          <input type="hidden" value="1" name="quantity">
        </form>
        <!--div class="row"-->
          {{#each this.course}}
          <div class="row">
            <div class="col-3">
              <a  href = "/courses/detail/{{CoursesID}}">
                <img style=" border-radius: 8px; border: 1px solid darkgrey;"
                src="/imgs/Courses/{{CoursesID}}/main_thumbs.jpg" alt="{{Name}}" title="{{Name}}" class="card-img-top">
              </a>
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 class="card-title"><a href = "/courses/detail/{{CoursesID}}"><b>{{Name}}</b></a></h5>
                <p class="card-text" style="margin-bottom:0%; color:black">{{TinyDes}}</p>
                <p class="card-text" style="font-size: 13px;">{{name}}</p>
                <div><span class="stars-container stars-10">★★★★★</span></div>
              </div>
            </div>
            <div class="col-1" style="text-align: center; padding-top: 20px;">
              <h5 class="card-title text-danger"><b>{{format_number Price}}</b></h5>
            </div>
          </div>
          <hr>
          {{/each}}
        {{!-- </!--div> --}}
        <nav>
          <ul class="pagination">
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
            {{#each this.page_numbers}}
            {{#if isCurrentPage}}
            <li class="page-item active">
              <a class="page-link" href="javascript:;">{{value}}</a>
            </li>
            {{else}}
            <li class="page-item">
              <a class="page-link" href="?page={{value}}">{{value}}</a>
            </li>
            {{/if}}
            {{/each}}
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
        {{/if}}
      </div>
    </div>
  </div>
</body>

</html>