
<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Education &mdash; Free Website Template, Free HTML5 Template by freehtml5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords"
		content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	<!-- Animate.css -->
	<link rel="stylesheet" href="/design/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/design/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/design/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/design/css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/design/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/design/css/owl.theme.default.min.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/design/css/flexslider.css">

	<!-- Pricing -->
	<link rel="stylesheet" href="/design/css/pricing.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/design/css/style.css">

	<!-- Modernizr JS -->
	<script src="/design/js/modernizr-2.6.2.min.js"></script>
	{{{_sections.css}}}
</head>

<body>

<div class="card col-sm-10" >
  <div class="card-header d-flex justify-content-between">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h1><b>{{this.subCatName.Name}}</b> </h1>
      </div>
      <div class="card-header d-flex justify-content-between">
        <h2><b>Courses to get you started</b></h2>
      </div>
    </div>
  </div>
  <div class="card-body">
    {{#if this.empty}}
      <h5 class="card-title">Không có dữ liệu!</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    {{else}}
      <div class="row">
        {{#each this.course}}
        <div class="col-sm-4">
          <div class="card h-100">
            <img src="/imgs/Courses/{{CoursesID}}/main_thumbs.jpg" alt="{{Name}}" title="{{Name}}"
              class="card-img-top">
            <div class="card-body">
              <h4 class="card-title"><b>{{Name}}</b></h4>
              <h5 class="card-title text-danger"><b>{{format_number Price}}</b></h5>
              <p
									style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; max-width:240px;">
									{{this.TinyDes}}
							</p>
            </div>
            <div class="card-footer text-muted">
              <a class="btn btn-sm btn-outline-primary" href="/courses/detail/{{CoursesID}}" role="button">
                <i class="fa fa-eye" aria-hidden="true"></i>
                Details
              </a>
              {{#if ../auth}}                                                 lấy auth của hiện tại
              <a data-id="{{CoursesID}}" class="btn btn-sm btn-outline-success addItem" href="javascript:;" role="button">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                Add to cart
              </a>
              {{/if}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <nav>
      <ul class="pagination">
        {{!-- <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li> --}}
        {{#each this.page_numbers}}                                         
          {{#if isCurrentPage}}
            <li class="page-item active">
              <a class="page-link" href="javascript:;">{{value}}</a>
            </li>
          {{else}}
            <li class="page-item">
              <a class="page-link" href="?page={{value}}">{{value}}</a>
            </li>
          {{/if}}
        {{/each}}
        {{!-- <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li> --}}
      </ul>
    </nav>
    {{/if}}
  </div>
</div> 



</body>

</html>